
body{
    margin: 0px;
}

h1{
    text-align: center;
}

h1 img a{
    width: 430px;
    height: 166px;
}

.main h2{
    width: 100%;
    text-align: center;
    margin: 20px 0px;
    font-size: 30px;
    color: #131313;
    font-family: 'Sarabun', sans-serif;
}

.main h2 span{
    font-size: 18px;
    display: grid;
    color: #131313;
    font-family: 'Kosugi', sans-serif;
    font-weight: normal;
}

.main h3{
    font-family: 'Kosugi', sans-serif;
}

.navbar {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.navbar .taitle{
    width: 100%;
}

.navbar .slide-line{
    width: 100%;
}

h1{
    z-index: 2;
    position: relative;
}

.navbar::before{
    content: '';
    position: absolute;
    top: 0px;
    right: 0;
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 420px solid transparent;
    border-bottom: 90px solid #f6f6f6;
    transform: rotate(-180deg);
}

.navbar::after{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 420px solid transparent;
    border-bottom: 90px solid #f6f6f6;
    transform: rotate(0deg);
}

.navbar .taitle_box{
    position: absolute;
    width: 100%;
    padding: 30px 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 1;
}

.navbar .slide_box{
    position: absolute;
    width: 100%;
    padding: 30px 0px;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 1;
}

.navbar .taitle_box img{
    width: 100%;
    height: 80px;
}

.navbar .taitle_box a{
    width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar .menu_box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 18px;
    padding: 30px 0px;
    font-weight: bold;
    position: fixed;
    z-index: 999;
}

.navbar .menu_box a{
    text-decoration: none;
    margin: 0px 20px 0px 20px;
    color: #131313;
    font-family: 'Sarabun', sans-serif;
}

.burger-btn{
    display: none;
}

.item{
    width: 100px !important;
    margin-left: auto;
    margin-right: auto;
    display: block;
    z-index: 1;
}

/* WORK */

.content_work {
    width: 100%;
    margin: 130px auto 130px auto;
}

.content_work .work_inner {
    max-width: 920px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.content_work .work_inner .inner_box{
    display: inline-block;
    width: 260px;
    box-sizing: border-box;

    width: 26%;

    margin-right: 1.5%;
    margin-left: 1.5%;
}

.work_inner .inner_box a {
    text-decoration: none;
}

.work_inner .inner_box a img{
    width: 100%;
    height: auto;
}

.work_inner .inner_box a p{
    margin: 10px 0px 20px 0px;
    font-size: 16px;
    color: #131313;
}

/* business */

.content_business{
    position: relative;
    width: 100%;
    margin: 0 auto 130px auto;
    padding: 0;
}
.content_business::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F6F6F6;
    -webkit-transform: skewY(5deg);
    transform: skewY(5deg);
}

.out_area{
    position: relative;
    margin: 0 auto 130px auto;
    padding: 0;
}

.business_area{
    width: 100%;
    height: auto;
    position: relative;
}

.business_inner{
    display: flex;
    max-width: 920px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    justify-content: center;
}

.business_inner .business_inner_box{
    float: left;
    height: auto;
    margin: 0px 20px;
    width: 33.333333%;
}

.business_inner .business_inner_box h3{
    font-size: 26px;
    text-align: center;
    margin-top: 20px;
    color: #131313;
    letter-spacing: 0.05em;
    font-weight: normal;
}

.business_inner .business_inner_box a{
    text-decoration: none;
}

.business_inner .business_inner_box p{
    font-size: 14px;
    color: #131313;
    margin: 10px 0px;
    padding: 0px 20px;
    line-height: 1.5em;
    letter-spacing: 0.05em;
}

.business_inner .business_inner_box .image_box{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.business_inner .business_inner_box .image_box img{
    height: auto;
}

/* design */

.content_design{
    width: 100%;
    margin: 0 auto 130px auto;
}

.design_area{
    max-width: 920px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.design_area .btn_inner{
    width: 100%;
}

.design_area .btn_inner .btn{
    padding: 16px 32px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 80px;
    text-align: center;
    font-size: 18px;
    color: #131313;
    background-color: #F6F6F6;
    text-decoration: none;
}

.design_area .design_inner{
    margin: 60px 40px;
}

.design_inner .design_inner_box{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.design_inner .design_inner_box a img{
    max-width: 280px;
    width: 100%;
    padding: 0px 20px;
    display: block;
    box-sizing: border-box;
}

/* profile */


.profile_area{
    height: auto;
    position: relative;
    margin: 60px 30px;
    box-sizing: border-box;
}

.profile_inner{
    width: fit-content;
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 2;
}

.profile_inner .profile_box{
    display: flex;
}

.profile_inner .profile_text{
    margin-left: 50px;
}

.profile_text dl{
    display: table;
    line-height: 1.4em;
}

.profile_text dl dt{
    padding: 10px 0;
    line-height: 180%;
    text-align: justify;
    width: 180px;
    float: left;
    overflow: hidden;
    text-overflow: inherit;
    white-space: normal;
    letter-spacing: 0.05em;
}

.profile_text dl dd{
    padding: 10px 0;
    line-height: 180%;
    text-align: justify;
    margin-left: 180px;
    letter-spacing: 0.05em;
}

.profile_history{
    width: 100%;
    margin-top: 30px;
    line-height: 1.6em;
    letter-spacing: 0.05em;
}


/* footer */
.footer{
    text-align: center;
    position: relative;
}

.footer::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 420px solid transparent;
    border-bottom: 90px solid #f6f6f6;
    transform: rotate(0deg);
}

/* action */


.transition {
    position:relative;
    height:100%;
    width:30%;
    background:#d6d6d6;
    transform: skewX(-50deg) translateX(-0px);
    transition:2s all ease-in-out;
    -webkit-transition:2s all ease-in-out;
  }
  
  .load-fade {
    opacity: 0;
    visibility: hidden;
    transition: all 1s;
    transform: skewX(0deg) translateX(-0px);
  }
  .load-fade.is-show {
    opacity: 1;
    visibility: visible;
    position:relative;
    height:100%;
    width:30%;
    background:#d6d6d6;
    transform: skewX(-50deg) translateX(-0px);
    transition:2s all ease-in-out;
    -webkit-transition:2s all ease-in-out;
  }

  .scroll-icon{
    width:25px;
  height:auto;
  position:absolute;
  top:50%;
  left:50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -webkit-transition:all 0.2s ease-in;
  transition:all 0.2s ease-in;
  fill:#d6d6d6;
  }



.main_scroll_up{
    opacity: 0;
    visibility: hidden;
    transform: translateY(50px);
    transition: all 1s;
}

.main_scroll_up.main-show{
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}