{% extends "base2.html" %}
{% load static humanize %}

{% block main %}
<div id="wrapper" class="main">
    <div class="content_design">
            <h1 class="load-fade">DESIGN<span>デザイン</span></h1>
            <div class="design_area load-fade">
                <div class="design_inner">
                    <div class="design_inner_box">
                        <a href="{% static 'design/image01.jpg' %}" data-lightbox="group"><img src="{% static 'design/image01.jpg' %}" /></a>
                        <a href="{% static 'design/image02.jpg' %}" data-lightbox="group"><img src="{% static 'design/image02.jpg' %}" /></a>
                        <a href="{% static 'design/image03.jpg' %}" data-lightbox="group"><img src="{% static 'design/image03.jpg' %}" /></a>
                    </div>
                    <div class="design_inner_box">
                        <a href="{% static 'design/image10.jpg' %}" data-lightbox="group"><img src="{% static 'design/image10.jpg' %}" /></a>
                        <a href="{% static 'design/image11.jpg' %}" data-lightbox="group"><img src="{% static 'design/image11.jpg' %}" /></a>
                        <a href="{% static 'design/image12.jpg' %}" data-lightbox="group"><img src="{% static 'design/image12.jpg' %}" /></a>
                    </div>
                    <div class="design_inner_box">
                        <a href="{% static 'design/image13.jpg' %}" data-lightbox="group"><img src="{% static 'design/image13.jpg' %}" /></a>
                        <a href="{% static 'design/image14.png' %}" data-lightbox="group"><img src="{% static 'design/image14.png' %}" /></a>
                        <a href="{% static 'design/image15.png' %}" data-lightbox="group"><img src="{% static 'design/image15.png' %}" /></a>
                    </div>
                    <div class="design_inner_box">
                        <a href="{% static 'design/image16.jpg' %}" data-lightbox="group"><img src="{% static 'design/image16.jpg' %}" /></a>
                        <a href="{% static 'design/image17.jpg' %}" data-lightbox="group"><img src="{% static 'design/image17.jpg' %}" /></a>
                        <a href="{% static 'design/image18.jpg' %}" data-lightbox="group"><img src="{% static 'design/image18.jpg' %}" /></a>
                    </div>
                    <div class="design_inner_box">
                        <a href="{% static 'design/image19.jpg' %}" data-lightbox="group"><img src="{% static 'design/image19.jpg' %}" /></a>
                        <a href="{% static 'design/image20.png' %}" data-lightbox="group"><img src="{% static 'design/image20.png' %}" /></a>
                        <a href="{% static 'design/image21.jpg' %}" data-lightbox="group"><img src="{% static 'design/image21.jpg' %}" /></a>
                    </div>
                    <div class="design_inner_box">
                        <a href="{% static 'design/image04.jpg' %}" data-lightbox="group"><img src="{% static 'design/image04.jpg' %}" /></a>
                        <a href="{% static 'design/image05.jpg' %}" data-lightbox="group"><img src="{% static 'design/image05.jpg' %}" /></a>
                        <a href="{% static 'design/image06.jpg' %}" data-lightbox="group"><img src="{% static 'design/image06.jpg' %}" /></a>
                    </div>
                    <div class="design_inner_box">
                        <a href="{% static 'design/image07.jpg' %}" data-lightbox="group"><img src="{% static 'design/image07.jpg' %}" /></a>
                        <a href="{% static 'design/image08.jpg' %}" data-lightbox="group"><img src="{% static 'design/image08.jpg' %}" /></a>
                        <a href="{% static 'design/image09.jpg' %}" data-lightbox="group"><img src="{% static 'design/image09.jpg' %}" /></a>
                    </div>
                    <div class="design_inner_box">
                        <a href="{% static 'design/image22.jpg' %}" data-lightbox="group"><img src="{% static 'design/image22.jpg' %}" /></a>
                        <a href="{% static 'design/image23.jpg' %}" data-lightbox="group"><img src="{% static 'design/image23.jpg' %}" /></a>
                        <a href="{% static 'design/image24.jpg' %}" data-lightbox="group"><img src="{% static 'design/image24.jpg' %}" /></a>
                    </div>
                </div>
            </div>
    </div>
</div>
{% endblock %}